<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_OrderedItems>
            <version>0.0.1</version>
        </BroSolutions_OrderedItems>
    </modules>
    <global>
        <blocks>
            <oitems>
                <class>BroSolutions_OrderedItems_Block</class>
            </oitems>
        </blocks>
        <models>
            <oitems>
                <class>BroSolutions_OrderedItems_Model</class>
            </oitems>
        </models>
        <helpers>
            <oitems>
                <class>BroSolutions_OrderedItems_Helper</class>
            </oitems>
        </helpers>
        <template>
            <email>
                <oitems_email_template module="core">
                    <label>Last ordered classes</label>
                    <file>bro_solutions/last_ordered_classes.html</file>
                    <type>html</type>
                </oitems_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <oitems>
                    <file>brosolutions_oitems.xml</file>
                </oitems>
            </updates>
        </layout>
        <!--events>
            <catalog_product_save_after>
                <observers>
                    <oitems_save_product_data>
                        <type>singleton</type>
                        <class>oitems/observer</class>
                        <method>saveProductTabData</method>
                    </oitems_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events-->
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <productsenquire>
                    <file>brosolutions_oitems.xml</file>
                </productsenquire>
            </updates>
        </layout>
    </frontend>
    <!--stores>
        <admin>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </admin>
    </stores-->
    <crontab>
        <jobs>
            <roomstoryinvoice_setstatus>
<!-- thomasgbennett@gmail.com,GuestServices@mainstreetamerica.com,lfogarty@mainstreetamerica.com,jmolloy@mainstreetamerica.com -->
                <!--<schedule><cron_expr>* * 12 * *</cron_expr></schedule>-->
                <run><model>oitems/observer::sentOrdersNotifications</model></run>
            </roomstoryinvoice_setstatus>
        </jobs>
    </crontab>
</config>
