<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_DateFilter>
            <version>0.0.7</version>
        </BroSolutions_DateFilter>
    </modules>
    <global>
        <helpers>
            <datefilter>
                <class>BroSolutions_DateFilter_Helper</class>
            </datefilter>
        </helpers>
        <models>
            <datefilter>
                <class>BroSolutions_DateFilter_Model</class>
            </datefilter>
            <catalog>
                <rewrite>
                    <layer_filter_item>BroSolutions_DateFilter_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <datefilter_setup>
                <setup>
                    <module>BroSolutions_DateFilter</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </datefilter_setup>
            <datefilter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </datefilter_write>
            <datefilter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </datefilter_read>
        </resources>
        <blocks>
            <datefilter>
                <class>BroSolutions_DateFilter_Block</class>
            </datefilter>
            <catalog>
                <rewrite>
                    <layer_view>BroSolutions_DateFilter_Block_Catalog_Layer_View</layer_view>
                    <layer_state>BroSolutions_DateFilter_Block_Catalog_Layer_State</layer_state>
                </rewrite>
            </catalog>
        </blocks>
        <template>
            <email>
                <classnotifications_general_template_notifications translate="label" module="core">
                    <label>Classes notifications email template</label>
                    <file>bro_solutions/class_notifications.html</file>
                    <type>html</type>
                </classnotifications_general_template_notifications>
                <classnotifications_general_template_notifications_cancel translate="label" module="core">
                    <label>Cancel classes notifications email template</label>
                    <file>bro_solutions/cancel_class_notifications.html</file>
                    <type>html</type>
                </classnotifications_general_template_notifications_cancel>
            </email>
        </template>
        <events>
            <catalog_product_save_after>
                <observers>
                    <datefilter_cancel_class_check>
                        <type>singleton</type>
                        <class>datefilter/observer</class>
                        <method>cancelClassCheck</method>
                    </datefilter_cancel_class_check>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <release_date/>
                </attributes>
            </collection>
        </product>
        <layout>
            <updates>
                <datefilter>
                    <file>datefilter.xml</file>
                </datefilter>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <release_date/>
                    <release_time/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <crontab>
        <jobs>
            <send_before_class_notifications>
                <schedule><cron_expr>0 6 * * *</cron_expr></schedule>
                <run><model>datefilter/observer::sendClassNotifications</model></run>
            </send_before_class_notifications>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <adminhtml_catalog_product_edit>
                    <file>datefilter.xml</file>
                </adminhtml_catalog_product_edit>
            </updates>
        </layout>
    </adminhtml>
</config>