<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_RecreateOrder>
            <version>0.0.1</version>
        </BroSolutions_RecreateOrder>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <freepayment><to_order>*</to_order></freepayment>
            </sales_convert_quote>
        </fieldsets>
        <models>
            <recreateorder>
                <class>BroSolutions_RecreateOrder_Model</class>
            </recreateorder>
            <!--sales>
                <rewrite>
                    <quote>BroSolutions_RecreateOrder_Model_Sales_Quote</quote>
                </rewrite>
            </sales-->
        </models>

        <resources>
            <recreateorder_setup>
                <setup>
                    <module>BroSolutions_RecreateOrder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recreateorder_setup>
            <recreateorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recreateorder_write>
            <recreateorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recreateorder_read>
        </resources>
        <blocks>
            <recreateorder>
                <class>BroSolutions_RecreateOrder_Block</class>
            </recreateorder>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>BroSolutions_RecreateOrder_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
                    <sales_order_create_items_grid>BroSolutions_RecreateOrder_Block_Adminhtml_Sales_Order_Create_Items_Grid</sales_order_create_items_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <recreateorder>
                <class>BroSolutions_RecreateOrder_Helper</class>
            </recreateorder>
        </helpers>
        <sales>
            <!--quote>
                <totals>
                    <freepayment>
                        <class>BroSolutions_RecreateOrder_Model_Sales_Freepayment</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </freepayment>
                </totals>
            </quote>
            <freepayment>
                <totals>
                    <freepayment>
                        <class>BroSolutions_RecreateOrder_Model_Sales_Invoice</class>
                        <after>subtotal</after>
                    </freepayment>
                </totals>
            </freepayment>
            <freepayment>
                <totals>
                    <freepayment>
                        <class>BroSolutions_RecreateOrder_Model_Sales_Creditmemo</class>
                        <after>subtotal</after>
                    </freepayment>
                </totals>
            </freepayment-->
        </sales>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <set_custom_discount_suagrcode>
                        <type>singleton</type>
                        <class>BroSolutions_RecreateOrder_Model_Observer</class>
                        <method>setDiscount</method>
                    </set_custom_discount_suagrcode>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </global>
    <default>
        <payment>
            <freepayment>
                <model>recreateorder/freepayment</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Free payment admin area</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>10</sort_order>
            </freepayment>
        </payment>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <mycompany>
                    <file>recreate_order.xml</file>
                </mycompany>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BroSolutions_RecreateOrder before="Mage_Adminhtml">BroSolutions_RecreateOrder_Adminhtml</BroSolutions_RecreateOrder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--stores>
        <admin>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </admin>
    </stores-->
</config>