{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<p>Unfortunately the class {{var data.getName()}} has been cancelled because we failed to meet the minimum number of students required to hold the class.</p>
<p>We sincerely appreciate your interest in Main Course Cooking School and hope you will reach out to us to receive a full refund or schedule another class.
<p>For more information, please reach out to us at <a href="mailto:guestservices@mainstreetamerica.com">guestservices@mainstreetamerica.com</a>.</p>

{{template config_path="design/email/footer"}}
