<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_SmartSlides>
            <version>0.0.7</version>
        </BroSolutions_SmartSlides>
    </modules>
    <global>
        <models>
            <smartslides>
                <class>BroSolutions_SmartSlides_Model</class>
                <resourceModel>smartslides_resources</resourceModel>
            </smartslides>
            <smartslides_resources>
                <class>BroSolutions_SmartSlides_Model_Resource</class>
                <entities>
                    <smartslides>
                        <table>brosolutions_smartslides</table>
                    </smartslides>
                    <smartslidesgroups>
                        <table>brosolutions_smartslidesgroup</table>
                    </smartslidesgroups>
                </entities>
            </smartslides_resources>
        </models>
        <resources>
            <smartsliders_setup>
                <setup>
                    <module>BroSolutions_SmartSlides</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smartsliders_setup>
            <smartsliders_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smartsliders_write>
            <smartsliders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smartsliders_read>
        </resources>
        <blocks>
            <smartslides>
                <class>BroSolutions_SmartSlides_Block</class>
            </smartslides>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <smartslides>
                    <file>brosol_smartsliders.xml</file>
                </smartslides>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <smartslides before="Mage_Adminhtml">BroSolutions_SmartSlides_Adminhtml</smartslides>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <cart_shopping>
                        <type>model</type>
                        <class>smartslides/observer</class>
                        <method>insertBlock</method>
                    </cart_shopping>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <!--stores>
            <admin>
                <dev>
                    <debug>
                        <template_hints>1</template_hints>
                        <template_hints_blocks>1</template_hints_blocks>
                    </debug>
                </dev>
            </admin>
        </stores-->
</config>