<?xml version="1.0"?> 
<config>
    <modules>
        <TGB_Template>
            <version>0.0.1</version>
        </TGB_Template>
    </modules>
    <global>
        <page>
            <layouts> 
                <new_cms_layout module="page" translate="label">
                    <label>One Column With Top Image</label>
                    <template>page/top-image.phtml</template>
                    <layout_handle>lookbook</layout_handle>
                </new_cms_layout> 
            </layouts>
        </page>
    </global>
</config>
