<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_All>
            <version>0.0.3</version>
        </BroSolutions_All>
    </modules>
    <global>
        <blocks>
            <brosolutionsall>
                <class>BroSolutions_All_Block</class>
            </brosolutionsall>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>BroSolutions_All_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>BroSolutions_All_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <cart_item_renderer>BroSolutions_All_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <brosolutionsall>
                <class>BroSolutions_All_Helper</class>
            </brosolutionsall>
        </helpers>
        <models>
            <brosolutionsall>
                <class>BroSolutions_All_Model</class>
            </brosolutionsall>
            <cataloginventory>
                <rewrite>
                    <observer>BroSolutions_All_Model_Cateloginventory_Observer</observer>
                </rewrite>
            </cataloginventory>
        </models>
        <resources>
            <brosolutionsall_setup>
                <setup>
                    <module>BroSolutions_All</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brosolutionsall_setup>
            <brosolutionsall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brosolutionsall_write>
            <smartsliders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smartsliders_read>
        </resources>
        <events>
            <outofstock_subscription>
                <observers>
                    <brosolutionsall_subscribe>
                        <class>brosolutionsall/observer</class>
                        <method>sendEmailToAdminOutofStockSubscription</method>
                    </brosolutionsall_subscribe>
                </observers>
            </outofstock_subscription>
        </events>
        <template>
            <email>
                <outofstock_subscription_email_template_guest module="brosolutionsall">
                    <label>Out Of Stock Subscription Email template for guest</label>
                    <file>outofstock_subscription_email_template_guest.html</file>
                    <type>html</type>
                </outofstock_subscription_email_template_guest>
                <outofstock_subscription_email_template module="brosolutionsall">
                    <label>Out Of Stock Subscription Email template</label>
                    <file>outofstock_subscription_email_template.html</file>
                    <type>html</type>
                </outofstock_subscription_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <BroSolutions_All before="Mage_Checkout">BroSolutions_All</BroSolutions_All>
                    </modules>
                </args>
            </checkout>
            <customer>
                <args>
                    <modules>
                        <BroSolutions_All before="Mage_Checkout">BroSolutions_All</BroSolutions_All>
                    </modules>
                </args>
            </customer>
            <brosolutionsall>
                <use>standard</use>
                <args>
                    <module>BroSolutions_All</module>
                    <frontName>gift-cert-print</frontName>
                </args>
            </brosolutionsall>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <disable_expired_classes>
                <schedule><cron_expr>0 0 1 * *</cron_expr></schedule>
                <run><model>brosolutionsall/observer::disableExpiredProducts</model></run>
            </disable_expired_classes>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BroSolutions_All before="Mage_Adminhtml">BroSolutions_All_Adminhtml</BroSolutions_All>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <report>
                    <file>fast_clone.xml</file>
                </report>
            </updates>
        </layout>
    </adminhtml>


    <!--stores>
        <admin>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </admin>
    </stores-->
</config>